.container-orcamentos {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos quebrem linha se não couberem */
  gap: 20px; /* Espaço entre os widgets */
  padding: 20px;
}

.form-orcamentos{
  display: flex;
  flex-wrap: wrap;
}

.criar-orcamento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Faz o fundo cobrir apenas o conteúdo */
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto; /* Adiciona espaço acima e mantém centralizado */
}


.valor-final{
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10%;
  margin: 10px;
  padding: 15px;
}